$color_1: #333;
$color_2: #1E88E5;
$color_3: #166dba;
$color_4: #fff;
$color_5: rgba(255, 255, 255, .8);
$color_6: rgba(255, 255, 255, .6);
$color_7: inherit;
$color_8: rgba(255, 255, 255, .75);
$color_9: rgba(255, 255, 255, .9);

body {
	position: relative;
}
figure {
	position: relative;
}
.nav-pills {
	margin-bottom: 20px;
}
.nav-justified {
	>li {
		>a {
			margin-bottom: 0;
		}
	}
}
.navbar {
	margin-bottom: 0;
	border-width: 1px 0;
	padding-left: 0;
	padding-right: 0;
}
.tab-content-bordered {
	.tab-content {
		>.has-padding {
			padding: 20px;
		}
		border-radius: 3px;
		border: 1px solid transparent;
		&:not([class*=bg-]) {
			border-color: #ddd;
			background-color: #fff;
		}
	}
}
.panel-tab-content {
	>.has-padding {
		padding: 20px;
	}
}
.navbar-component.navbar-default {
	border-color: #ddd;
	background-color: #fff;
}
.navbar-component {
	border-radius: 3px;
	margin-bottom: 20px;
	border-width: 1px;
	>.navbar-collapse {
		&:first-child {
			>.navbar {
				&:first-child {
					border-top-right-radius: 3px;
					border-top-left-radius: 3px;
				}
			}
		}
		&:last-child {
			>.navbar {
				&:last-child {
					border-bottom-right-radius: 3px;
					border-bottom-left-radius: 3px;
				}
			}
		}
	}
	>.navbar {
		&:first-child {
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
		}
		&:last-child {
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}
	}
}
.page-header {
	.navbar-component {
		margin-left: 20px;
		margin-right: 20px;
	}
}
.navbar-form {
	border-top: 0;
	padding: 13px 20px;
	margin-left: 0;
	margin-right: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	&:last-child {
		border-bottom: 0;
	}
	.btn-sm {
		margin-top: 1px;
		margin-bottom: 1px;
	}
	.input-group-sm {
		margin-top: 1px;
		margin-bottom: 1px;
	}
	.input-sm {
		margin-top: 1px;
		margin-bottom: 1px;
	}
	.select-sm {
		margin-top: 1px;
		margin-bottom: 1px;
	}
	.uploader-sm {
		margin-top: 1px;
		margin-bottom: 1px;
	}
	.btn-xs {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.input-group-xs {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.input-xs {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.select-xs {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.uploader-xs {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.checkbox-switchery[class*=switchery-] {
		margin-bottom: 0;
	}
	.checkbox-inline.switchery-double {
		padding-left: 0;
	}
}
.affix.navbar {
	z-index: 1030;
	top: 0;
	width: 100%;
}
.affix.navbar-collapse {
	z-index: 1030;
	top: 0;
	width: 100%;
}
.navbar-header {
	min-width: 260px;
	.navbar-nav {
		float: right;
		margin-right: 5px;
		>li {
			float: left;
			>a {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}
.navbar-collapse {
	>.navbar-header {
		margin-left: 0;
	}
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}
.navbar-collapse.collapsing {
	-webkit-transition-duration: .00001ms;
	transition-duration: .00001ms;
}
.navbar-nav {
	>li {
		>a {
			padding-top: 13px;
			padding-bottom: 13px;
			>.badge {
				position: absolute;
				top: 0;
				right: 0;
			}
			>.label {
				position: absolute;
				top: 0;
				right: 0;
			}
			>.status-mark {
				position: absolute;
				top: 8px;
				right: 8px;
			}
			>.status-mark-left {
				right: auto;
				left: 8px;
			}
			>.badge-left {
				right: auto;
				left: 0;
			}
			>.label-left {
				right: auto;
				left: 0;
			}
			>.badge-inline {
				position: static;
			}
			>.label-inline {
				position: static;
			}
			>.status-mark-inline {
				position: static;
			}
		}
		>.dropdown-menu {
			margin-top: 1px;
			border-top-width: 0;
			.media-list {
				max-height: 340px;
				overflow-y: auto;
			}
		}
	}
	.language-switch {
		a {
			>img {
				position: relative;
				top: -1px;
			}
		}
	}
	>.dropdown-user {
		>a {
			padding-top: 6.5px;
			padding-bottom: 6.5px;
			>span {
				padding-top: 6.5px;
				padding-bottom: 6.5px;
				display: inline-block;
				padding-left: 7px;
			}
		}
		img {
			max-height: 30px;
			margin-top: -2.5px;
			border-radius: 50%;
		}
	}
}
.navbar-lg {
	.navbar-nav {
		>.dropdown-user {
			img {
				max-height: 34px;
				margin-top: -3.5px;
			}
			>a {
				padding-top: 7.5px;
				padding-bottom: 7.5px;
				>span {
					padding-top: 7.5px;
					padding-bottom: 7.5px;
				}
			}
		}
		>li {
			>a {
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}
	}
	.navbar-form {
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.navbar-btn {
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.navbar-btn.btn-sm {
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.navbar-btn.btn-xs {
		margin-top: 9px;
		margin-bottom: 9px;
	}
	.navbar-text {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.navbar-brand {
		padding-top: 15px;
		padding-bottom: 15px;
		height: 50px;
	}
	min-height: 50px;
}
.navbar-sm {
	.navbar-nav {
		>.dropdown-user {
			img {
				max-height: 28px;
				margin-top: -2px;
			}
			>a {
				padding-top: 6px;
				padding-bottom: 6px;
				>span {
					padding-top: 6px;
					padding-bottom: 6px;
				}
			}
		}
		>li {
			>a {
				padding-top: 12px;
				padding-bottom: 12px;
			}
		}
	}
	.navbar-form {
		margin-top: 4px;
		margin-bottom: 4px;
	}
	.navbar-btn.btn-sm {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.navbar-btn {
		margin-top: 4px;
		margin-bottom: 4px;
	}
	.navbar-btn.btn-xs {
		margin-top: 6px;
		margin-bottom: 6px;
	}
	.navbar-text {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.navbar-brand {
		padding-top: 12px;
		padding-bottom: 12px;
		height: 44px;
	}
	min-height: 44px;
}
.navbar-xs {
	.navbar-nav {
		>.dropdown-user {
			img {
				max-height: 26px;
				margin-top: -1.5px;
			}
			>a {
				padding-top: 5.5px;
				padding-bottom: 5.5px;
				>span {
					padding-top: 5.5px;
					padding-bottom: 5.5px;
				}
			}
		}
		>li {
			>a {
				padding-top: 11px;
				padding-bottom: 11px;
			}
		}
	}
	.navbar-form {
		margin-top: 3px;
		margin-bottom: 3px;
	}
	.navbar-btn.btn-xs {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.navbar-btn.btn-sm {
		margin-top: 4px;
		margin-bottom: 4px;
	}
	.navbar-btn {
		margin-top: 3px;
		margin-bottom: 3px;
	}
	.navbar-text {
		padding-top: 11px;
		padding-bottom: 11px;
	}
	.navbar-brand {
		padding-top: 11px;
		padding-bottom: 11px;
		height: 42px;
	}
	min-height: 42px;
}
.navbar-fixed-bottom {
	.navbar-nav {
		>li {
			>.dropdown-menu {
				margin-top: 0;
				margin-bottom: 1px;
				border-top-width: 1px;
				border-bottom-width: 0;
				border-top-right-radius: 3px;
				border-top-left-radius: 3px;
			}
		}
	}
	>.navbar-default {
		&:first-child {
			border-top-color: #ddd;
		}
	}
}
.navbar-btn {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
&+.navbar-btn {
	margin-left: 0;
}
.navbar-btn.btn-sm {
	margin-top: 6px;
	margin-bottom: 6px;
}
.navbar-btn.btn-xs {
	margin-top: 7px;
	margin-bottom: 7px;
}
.navbar-text {
	margin: 0;
	padding: 13px 20px;
	&:last-child {
		border-bottom: 0;
	}
}
.navbar-default {
	border-top-color: transparent;
	.navbar-link {
		color: $color_2;
		&:hover {
			color: $color_3;
		}
	}
}
.navbar-default.navbar-default-secondary {
	background-color: #fcfcfc;
}
.navbar-default.navbar-fixed-bottom {
	border-top-color: #ddd;
	border-bottom-color: #fff;
}
.navbar-inverse {
	border-bottom-color: rgba(255, 255, 255, .1);
	color: $color_4;
	.navbar-collapse {
		border-color: rgba(0, 0, 0, .2);
	}
	.navbar-form {
		border-color: rgba(255, 255, 255, .1);
	}
}
.nav {
	.mega-menu {
		position: static;
	}
}
.breadcrumb {
	border-radius: 0;
	margin-bottom: 0;
	>li {
		position: relative;
		>a {
			color: $color_1;
		}
		i {
			display: inline-block;
			font-size: 12px;
		}
		>.dropdown-menu {
			margin-top: 0;
			margin-left: 5px;
		}
		&:first-child {
			>.dropdown-menu {
				margin-left: 0;
			}
		}
		>.dropdown-menu-right {
			margin-left: 0;
			margin-right: -10px;
		}
		&:hover {
			>.dropdown-menu {
				display: block;
			}
		}
	}
	>li.location-text {
		margin-right: 7px;
	}
}
.page-title {
	.breadcrumb {
		float: none;
		display: block;
		margin: 0;
		padding-top: 3px;
		padding-bottom: 0;
		&:first-child {
			padding-top: 0;
			padding-bottom: 3px;
		}
	}
	.breadcrumb.position-right {
		margin-left: 28px;
	}
}
.breadcrumb-elements {
	&:after {
		display: table;
		content: '';
		clear: both;
	}
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #ddd;
	font-size: 0;
	>li {
		display: inline-block;
		position: static;
		font-size: 13px;
		>a {
			display: block;
			padding: 10px 15px;
			color: $color_1;
			&:focus {
				background-color: #f9f9f9;
			}
			&:hover {
				background-color: #f9f9f9;
			}
		}
	}
	>li.open {
		>a {
			background-color: #f9f9f9;
		}
	}
	.dropdown-menu {
		margin-top: 0;
		left: auto;
		right: -1px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	.dropup {
		>.dropdown-menu {
			margin-bottom: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	[data-toggle=collapse] {
		display: block;
		position: absolute;
		top: 0;
		right: 20px;
	}
}
.breadcrumb-line {
	&:after {
		display: table;
		content: '';
		clear: both;
	}
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	border-top: 1px solid #ddd;
	&:first-child {
		border-top-width: 0;
		border-bottom: 1px solid #ddd;
	}
	.breadcrumb {
		margin-right: 46px;
	}
}
.page-header-content {
	>.breadcrumb {
		padding-top: 0;
		padding-bottom: 20px;
		&:first-child {
			padding-bottom: 0;
			padding-top: 20px;
		}
	}
}
.thumbnail {
	.caption {
		.media-heading {
			&:after {
				content: '';
				clear: both;
			}
		}
	}
}
.breadcrumb-line-component {
	border-radius: 3px;
	padding-left: 0;
	padding-right: 0;
	&:not([class*=bg-]) {
		background-color: #fff;
		border: 1px solid #ddd;
	}
	.breadcrumb {
		margin-left: 20px;
	}
}
.breadcrumb-line[class*=bg-] {
	a {
		color: $color_7;
	}
	i {
		color: $color_7;
	}
	.breadcrumb {
		>.active {
			color: $color_8;
		}

	}
	.breadcrumb-elements {
		border-top-color: rgba(255, 255, 255, .1);
		>li {
			>a {
				color: $color_9;
				&:focus {
					color: $color_4;
					background-color: rgba(255, 255, 255, .1);
				}
				&:hover {
					color: $color_4;
					background-color: rgba(255, 255, 255, .1);
				}
			}
		}
		>li.open {
			>a {
				color: $color_4;
				background-color: rgba(255, 255, 255, .1);
			}
		}
	}
}
.media {
	position: relative;
	overflow: visible;
	>.pull-right {
		padding-left: 20px;
	}
	>.pull-left {
		padding-right: 20px;
	}
}
.media-body {
	position: relative;
	overflow: visible;
}
.media-left {
	position: relative;
	padding-right: 20px;
}
.media-right {
	position: relative;
	padding-left: 20px;
}

.media-heading {
	margin-bottom: 2px;
	display: block;
}
.media-list {
	margin-bottom: 0;
}
@media (min-width: 769px) {
	.nav-tabs.nav-tabs-component {
		>li {
			>a {
				border-radius: 3px 3px 0 0;
			}
		}
	}
	.nav-tabs.nav-tabs-component.nav-tabs-solid {
		border-radius: 3px;
		>li {
			>a {
				border-radius: 0;
			}
			&:first-child {
				>a {
					border-radius: 3px 0 0 3px;
				}
			}
		}
	}
	.nav-tabs.nav-tabs-component[class*=bg-] {
		border-radius: 3px;
		>li {
			>a {
				border-radius: 0;
			}
			&:first-child {
				>a {
					border-radius: 3px 0 0 3px;
				}
			}
		}
	}
	.nav-tabs-component.nav-justified.nav-tabs-solid {
		>li {
			&:last-child {
				>a {
					border-radius: 0 3px 3px 0;
				}
			}
		}
	}
	.nav-tabs-component.nav-justified[class*=bg-] {
		>li {
			&:last-child {
				>a {
					border-radius: 0 3px 3px 0;
				}
			}
		}
	}
	.tab-content {
		>.has-padding {
			padding: 20px;
		}
	}
	.tab-content-bordered {
		.tab-content {
			border-top-width: 0;
			border-radius: 0 0 3px 3px;
		}
		.nav-tabs {
			margin-bottom: 0;
		}
		.nav-tabs.nav-tabs-solid {
			border-radius: 3px 3px 0 0;
			-webkit-box-shadow: 0 0 0 1px #ddd inset;
			box-shadow: 0 0 0 1px #ddd inset;
			>li {
				&:first-child {
					>a {
						border-radius: 3px 0 0;
					}
				}
			}
		}
		.nav-tabs.nav-tabs-solid.nav-justified {
			>li {
				&:last-child {
					>a {
						border-radius: 0 3px 0 0;
					}
				}
			}
		}
		>.nav-tabs[class*=bg-] {
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
		}
		
	}
	.nav-tabs-top {
		.dropdown-menu {
			margin-top: 0;
		}
	}
	.nav-tabs[class*=bg-] {
		.dropdown-menu {
			margin-top: 0;
		}
	}
	.nav-justified.bottom-divided {
		.dropdown-menu {
			margin-top: 1px;
		}
	}
	.navbar {
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar-nav {
		margin-left: 20px;
	}
	.navbar-form {
		padding: 0;
		.form-control {
			min-width: 200px;
		}
		.uploader {
			width: 200px;
		}
		.form-group {
			margin-left: 20px;
		}
		.checkbox-inline {
			margin-top: 8px;
			margin-bottom: 8px;
		}
		.radio-inline {
			margin-top: 8px;
			margin-bottom: 8px;
		}
	}
	.breadcrumb-line {
		.breadcrumb {
			float: left;
			margin-right: 0;
		}
	}
	.breadcrumb-elements {
		float: right;
		text-align: inherit;
		border-top: 0;
		>li {
			float: left;
			position: relative;
			.btn-group {
				position: relative;
			}
		}
		[data-toggle=collapse] {
			display: none;
		}
	}
	.breadcrumb-elements.collapse {
		display: block;
		visibility: visible;
	}
	.breadcrumb-line-component {
		.breadcrumb-elements {
			>li {
				&:last-child {
					>a {
						border-bottom-right-radius: 3px;
						border-top-right-radius: 3px;
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.nav-pills {
		.dropdown-menu {
			left: -1px;
			right: -1px;
			margin-top: 2px;
		}
	}
	.nav-pills.nav-justified {
		>.dropdown {
			.dropdown-menu {
				left: -1px;
				right: -1px;
				margin-top: 2px;
			}
		}
	}
	.nav-tabs {
		.dropdown-menu {
			left: -1px;
			right: -1px;
			margin-top: 2px;
		}
	}
	.nav-tabs.nav-justified {
		>.dropdown {
			.dropdown-menu {
				left: -1px;
				right: -1px;
				margin-top: 2px;
			}
		}
	}
	.navbar-nav {
		border-bottom: 1px solid rgba(255, 255, 255, .1);
	}
	.navbar-form {
		margin: 0;
	}
	.navbar-btn {
		margin: 13px 20px;
	}
	.navbar-btn.btn-sm {
		margin: 13px 20px;
	}
	.navbar-btn.btn-xs {
		margin: 13px 20px;
	}
	.navbar-default {
		.navbar-nav {
			.open {
				.dropdown-menu {
					color: $color_1;
					background-color: transparent;
					border-bottom: 1px solid #ddd;
				}
				>.dropdown-menu {
					border-top: 1px solid #ddd;
				}
				&:last-child {
					.dropdown-menu {
						border-bottom: 0;
					}
				}
			}
		}
		.dropdown-menu[class*=bg-] {
			.badge {
				color: $color_4;
				background-color: #2196F3;
				border-color: transparent;
			}
			.label {
				color: $color_4;
				background-color: #2196F3;
				border-color: transparent;
			}
			>.divider {
				background-color: #e5e5e5;
			}
			.dropdown-submenu {
				&:focus {
					>a {
						background-color: #f5f5f5;
					}
				}
				&:hover {
					>a {
						background-color: #f5f5f5;
					}
				}
			}
		}
		.dropdown-menu {
			.table-responsive {
				border-width: 0;
			}
		}
		.navbar-text {
			&:not([data-toggle=collapse]) {
				border-bottom: 1px solid #ddd;
			}
		}
		>.navbar-nav {
			>li {
				>a {
					&:focus {
						background-color: #fcfcfc;
					}
					&:hover {
						background-color: #fcfcfc;
					}
					&:not(.collapsed) {
						background-color: #fcfcfc;
					}
				}
			}
		}
	}
	.navbar-inverse {
		.navbar-nav {
			.open {
				.dropdown-menu {
					color: $color_4;
					background-color: rgba(0, 0, 0, .1);
					border-bottom: 1px solid rgba(255, 255, 255, .1);
					.media-annotation {
						color: $color_5;
					}
					.text-muted {
						color: $color_5;
					}
					.media-list-linked {
						.media-link {
							color: $color_4;
							&:focus {
								background-color: rgba(0, 0, 0, .1);
								color: $color_4;
							}
							&:hover {
								background-color: rgba(0, 0, 0, .1);
								color: $color_4;
							}
						}
						>li {
							border-top-color: rgba(255, 255, 255, .1);
						}
					}
					a {
						&:not(.label-flat) {
							&:not(.badge-flat) {
	
							}
						}
					}
					.divider {
						background-color: rgba(255, 255, 255, .1);
					}
					>.dropdown-header {
						color: $color_6;
					}
					>.dropdown-submenu {
						&:focus {
							>a {
								color: $color_4;
								background-color: rgba(0, 0, 0, .1);
							}
						}
						&:hover {
							>a {
								color: $color_4;
								background-color: rgba(0, 0, 0, .1);
							}
						}
					}
				}
				>.dropdown-menu {
					border-top: 1px solid rgba(255, 255, 255, .1);
				}
				&:last-child {
					.dropdown-menu {
						border-bottom: 0;
					}
				}
			}
			.badge {
				background-color: #fff;
				border-color: #fff;
				color: $color_1;
				&:focus {
					background-color: #fff;
					border-color: #fff;
					color: $color_1;
				}
				&:hover {
					background-color: #fff;
					border-color: #fff;
					color: $color_1;
				}
			}
			.label {
				background-color: #fff;
				border-color: #fff;
				color: $color_1;
				&:focus {
					background-color: #fff;
					border-color: #fff;
					color: $color_1;
				}
				&:hover {
					background-color: #fff;
					border-color: #fff;
					color: $color_1;
				}
			}
			.checker {
				>span {
					border-color: #fff;
					color: $color_4;
				}
			}
			.choice {
				>span {
					border-color: #fff;
					color: $color_4;
				}
			}
			.nav-tabs {
				background-color: transparent;
				border: 0;
				>li {
					>a {
						background-color: transparent;
					}
				}
			}
		}
		.navbar-collapse {
			background-color: rgba(0, 0, 0, .05);
		}
		.navbar-text {
			border-bottom: 1px solid rgba(255, 255, 255, .1);
		}
		>.navbar-nav {
			>li {
				>a {
					&:not(.collapsed) {
						background-color: rgba(0, 0, 0, .1);
					}
				}
			}
		}
		.dropdown-menu {
			.media-body {
				a {
					color: $color_4;
				}
			}
			.table {
				a {
					color: $color_4;
				}
				td {
					border-color: rgba(255, 255, 255, .1);
				}
				th {
					border-color: rgba(255, 255, 255, .1);
				}
			}
			.table-responsive {
				border-width: 0 0 1px;
				border-color: rgba(255, 255, 255, .1);
			}
			
		}
		.badge-flat {
			border-color: #fff;
			color: $color_4;
		}
		.btn-flat {
			border-color: #fff;
			color: $color_4;
		}
		.label-flat {
			border-color: #fff;
			color: $color_4;
		}
	}
	.breadcrumb {
		.dropdown-submenu {
			>.dropdown-menu {
				position: static;
			}
		}
		>li {
			position: static;
			.dropdown-menu {
				>li {
					position: static;
				}
				width: 100%;
				margin: 0;
				border-radius: 0;
				border-width: 1px 0;
			}
		}
	}
	.heading-elements {
		.breadcrumb {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	.breadcrumb-line {
		z-index: 998;
		background-color: inherit;
	}
}
